@page "/TicTacToe"
@rendermode InteractiveServer

<h3>@header</h3>

<style>
    .square{
        height: 100px;
        width: 100px;
        background-color: aqua;
        cursor:pointer;
        border:1px solid black;
    }
    .row{
        display: flex;
    }
</style>

@for(int i = 0; i < 3; ++i){
    <div class="row" id="@i">
    @for(int j = 0; j < 3; ++j){
        int row = i;
        int col = j;
        <div class="square"
            id="@j"
            @onclick="() => OnClick(row, col)"> 
            Text:@row:@col:@board.getCell(row,col)
        </div>
    }
    </div>
}

<p>@testText</p>

@code {
    string header = "Are you ready for Tic Tac Toe?";
    string testText = "Not Clicked Yet";
    [Parameter]
    public TicTacToeBoard board { get; set; } = new TicTacToeBoard();
    protected override void OnInitialized(){}
    public void OnClick(int r, int c){
        System.Console.WriteLine("Button Was Clicked");
        testText+="ButtonClicked\n";
        board.setCell(r, c);
    }
}
