@page "/TicTacToe"
@rendermode InteractiveServer

<h3>@header</h3>

<style>
    .square{
        height: 100px;
        width: 100px;
        cursor:pointer;
        border:1px solid black;
        font-size: 70px;
    }
    .row{
        display: flex;
    }
</style>

@for(int i = 0; i < 3; ++i){
    <div class="row" id="@i">
    @for(int j = 0; j < 3; ++j){
        int row = i;
        int col = j;
        <div class="square"
            id="@j"
            @onclick="() => OnClick(row, col)">
            @board.getCell(row,col)
        </div>
    }
    </div>
}

<button class="btn btn-primary" @onclick="Reset">Reset Gameboard</button>
<button class="btn btn-primary" @onclick="Reset">Play Against AI</button>
<button class="btn btn-primary" @onclick="Reset">Local Two Player</button>

@code {
    char curPlayer = 'X';
    string header = "Are you ready for Tic Tac Toe?";
    [Parameter]
    public TicTacToeBoard board { get; set; } = new TicTacToeBoard();
    public void OnClick(int r, int c){
        if (board.gameOver) return;
        board.setCell(r, c, curPlayer);
        int win = board.checkForWin();
        if (win != -1){
            if (win == 0) header = "Players Tied";
            else if (win == 1) header = "X's Won!";
            else if (win == 2) header = "O's Won!";
        }
        else{
            curPlayer = (curPlayer == 'X') ? 'O' : 'X';
            header = curPlayer + "'s Turn";
        }
    }
    public void Reset(){
        header = "Are you ready for Tic Tac Toe?";
        board.clear();
        board.gameOver = false;
    }
}
